<div id="allContent" class="content" th:fragment="html">


    <!-- START CONTAINER -->
    <div id="mainContent" class="container-widget" style="height: 665px;">

        <div class="flow" style="background-color: white;">

            <div style="border:1px solid #000;width: 100%;height:600px;">
                <div style="width: 100%;">
                    <span><h4>询价详情</h4></span>
                </div>
                <div style="width: 77%;float: left;border:1px solid #000;margin-left: 10px;height: 490px;">
                    <table class="table">
                        <tr>
                            <td>询价单号</td>
                            <td><input id="inquiryID" class="form-control" readonly></td>
                            <td>询价日期</td>
                            <td><input id="inquiryDate" class="form-control" readonly></td>
                        </tr>
                        <tr>
                            <td>项目</td>
                            <td><input id="project" class="form-control" readonly></td>
                            <td>询价类型</td>
                            <td>
                                <select id="type" class="form-control" disabled>
                                    <option value="">请选择</option>
                                    <option value="刀具">刀具</option>
                                    <option value="MRO">MRO</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>截止日期</td>
                            <td><input id="deadline" class="form-control" readonly></td>
                            <td>状态</td>
                            <td><input id="status" class="form-control" readonly></td>
                        </tr>
                    </table>
                    <table class="table table-striped table-bordered table-hover  table-condensed">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>K编码</th>
                            <th>名称</th>
                            <th>规格/型号</th>
                            <th>品牌</th>
                            <th>数量</th>
                            <th>单位</th>
                        </tr>
                        </thead>
                        <tbody id="details"></tbody>
                    </table>
                </div>
                <div id="answerStatus" style="width:20%;float: left;border:1px solid #000;margin-left: 10px;height: 490px;font-size: 15px;">

                </div>

            </div>


        </div>

    </div>

    <!-- Start Footer -->
    <div class="row footer">
        <div class="col-md-6 text-left">
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="col-md-6 text-right">
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </div>
    <!-- End Footer -->


</div>
