<!DOCTYPE html>
<html lang="en">
<head>
    <title>供应商报价</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Kode is a Premium Bootstrap Admin Template, It's responsive, clean coded and mobile friendly">
    <meta name="keywords" content="bootstrap, admin, dashboard, flat admin template, responsive," />
    <link href="044/css/root.css" rel="stylesheet">
    <link href="044/css/style.css">
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <script src="044/js/bootstrap/bootstrap.min.js"></script>
    <script src="044/js/newPlugins.js" type="text/javascript"></script>
    <script src="044/js/bootstrap-select/bootstrap-select.js" type="text/javascript"></script>
    <script src="044/js/bootstrap-toggle/bootstrap-toggle.min.js" type="text/javascript"></script>
    <script src="044/js/easypiechart/easypiechart.js" type="text/javascript"></script>
    <script src="044/js/easypiechart/easypiechart-plugin.js" type="text/javascript"></script>
    <script src="044/js/sparkline/sparkline.js" type="text/javascript"></script>
    <script src="044/js/sparkline/sparkline-plugin.js" type="text/javascript"></script>
    <script src="044/js/moment/moment.min.js" type="text/javascript"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/ajaxFileUpload.js"></script>
    <script src="js/cities.js"></script>
    <script src="js/ChineseCity.all.js"></script>
    <script src="js/ChineseCity.js"></script>
    <script src="laydate/laydate.js"></script>
    <link href="laydate/theme/default/laydate.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://www.huangwx.cn/css/sweetalert.css">
    <script type="text/javascript" src="http://www.huangwx.cn/js/sweetalert-dev.js"></script>
    <script src="js/message.js"></script>
    <link href="044/css/newsteps.css" rel="stylesheet">
    <script src="044/js/newsteps.js"></script>
    <script src="044/js/datatables/datatab.js"></script>
    <link href="044/css/plugin/datatables/datatables.css" rel="stylesheet">
</head>
<body style="background-color: white;">
<div style="width: 90%;margin:0px auto;">
    <div style="text-align: center;">
        <h3>诺而为供应商智能报价</h3>
    </div>
    <div style="font-size: 15px;">您好，以下为我司本次询价的产品目录，请您在线完成报价 ，谢谢！</div><br>
    <div id="sumInfo" style="font-size: 15px;">

    </div>
    <div id="productList">

    </div>
    <div id="btnDIV" style="width: 100%;text-align: center;display: none;">
        <button class="btn btn-primary" onclick="writeAnswer()">发送报价</button>
    </div>
</div>

<script>
    //获取URL中参数的值
    function getQueryVariable(variable){
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }

    $(function () {
        loadDetail();
    })

    function loadDetail() {
        var num = getQueryVariable("id");
        $.ajax({
            type:"get",
            data:{"num":num},
            url:"getInquiryDetail",
            async:false,
            success:function (data) {
                var result = data.result;
                if(result == "OK"){
                    var supplier = data.supplier;
                    var sum = data.sum;
                    var details = data.details;
                    $("#sumInfo").html("");
                    $("#sumInfo").append("<strong>公司名称:</strong>"+"<strong>"+supplier.simpleName+"</strong>"+"<br>");
                    $("#sumInfo").append("<strong>截止日期:</strong>"+"<strong>"+sum.deadline+"</strong>"+"<br>");
                    $("#productList").html("");
                    for(var i = 0 ; i < details.length ; i++){
                        var no = i + 1;
                        $("#productList").append("<h5 style='color: #118ADB'>"+"产品"+no+"</h5>");
                        $("#productList").append('<div class="panel panel-default">\n' +
                            '  <div class="panel-body">\n' +
                            '<table class="table">'+
                            "<tr>"+
                            "<td>名称:</td>"+"<td>"+details[i].productName+"</td>"+"<td>"+"规格/型号:"+"</td>"+"<td>"+details[i].specification+"</td>"+
                            "</tr>"+
                            "<tr>"+
                            "<td>数量:</td>"+"<td>"+details[i].quantity+"</td>"+"<td>"+"单位:"+"</td>"+"<td>"+details[i].unit+"</td>"+
                            "</tr>"+
                            "<tr>"+
                            "<td>品牌:</td>"+"<td>"+details[i].brand+"</td>"+"<td>"+"备注:"+"</td>"+"<td>"+details[i].note+"</td>"+
                            "</tr>"+
                            "<tr>"+
                            "<td>参考图片:</td>"+'<td colspan="3">'+'<img style="width: 190px;" src="productImage/'+details[i].picName+'">'+"</td>"+
                            "</tr>"+
                            '</table>'+
                            '  </div>\n' +
                            '</div>'+
                            '<table class="table">'+"<tr>"+"<td style='width: 80px;'>品牌</td>"+"<td>"+'<input name="brand" class="form-control">'+"</td>"+"<td style='width:85px'>型号</td>"+"<td>"+'<input name="specification" class="form-control">'+"</td>"+"</tr>"+
                            "<tr>"+'<td><span style="color:red;">*</span>含税单价</td>'+"<td>"+'<input name="price" class="form-control" onblur="getTotalMoney(this)">'+"</td>"+"<td>合计价格</td>"+"<td>"+'<input name="totalPrice" class="form-control">'+"</td>"+"</tr>"+
                            "<tr>"+'<td><span style="color:red;">*</span>交货周期(/天)</td>'+"<td>"+'<input name="cycle" class="form-control">'+"</td>"+"<td>报价有效期</td>"+"<td>"+'<input name="validityTime" class="form-control">'+"</td>"+"</tr>"+
                            '</table>'+"<br>"
                        );
                    }
                    $("#btnDIV").show();
                }else if(result == "1"){
                    $.message({
                        message:"询价单已关闭",
                        type:"error"
                    })
                }else if(result == "2"){
                    $.message({
                        message:"询价单已超期",
                        type:"error"
                    })
                }else if(result == "3"){
                    $.message({
                        message:"您已完成报价",
                        type:"error"
                    })
                }

            }
        })
    }

    function writeAnswer() {
        var num = getQueryVariable("id");
        var supplierCode = getQueryVariable("supplierCode");
        var brands =[];
        $("input[name='brand']").each(function(){
            brands.push($(this).val());
        });
        var specifications = [];
        $("input[name='specification']").each(function () {
            specifications.push($(this).val());
        });
        var prices = [];
        $("input[name='price']").each(function () {
            prices.push($(this).val());
        });
        var totalPrices = [];
        $("input[name='totalPrice']").each(function () {
            totalPrices.push($(this).val());
        });
        var cycles = [];
        $("input[name='cycle']").each(function () {
            cycles.push($(this).val());
        });
        var validityTimes = [];
        $("input[name='validityTime']").each(function () {
            validityTimes.push($(this).val());
        })
        var data = {"num":num , "supplierCode":supplierCode ,"brands":brands , "specifications":specifications , "prices":prices , "totalPrices":totalPrices , "cycles":cycles , "validityTimes":validityTimes};
        $.ajax({
            type:"post",
            data:data,
            url:"writeAnswer",
            async:false,
            traditional:true,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:"已完成报价",
                        type:"success"
                    });
                }else{
                    $.message({
                        message:data,
                        type:"error"
                    })
                }
            }
        })
    }

    function getTotalMoney(obj) {
        var price = obj.value;
        var quantity = obj.parentNode.parentNode.parentNode.parentNode.parentNode.childNodes[1].childNodes[1].childNodes[1].childNodes[0].childNodes[1].childNodes[1].innerText;
        obj.parentNode.parentNode.cells[3].childNodes[0].value = accMul(price , quantity);
    }
    function accMul(arg1,arg2) {
        var m=0,s1=arg1.toString(),s2=arg2.toString();
        try{m+=s1.split(".")[1].length}catch(e){}
        try{m+=s2.split(".")[1].length}catch(e){}
        return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m)
    }
</script>
</body>
</html>
