<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>询价详情</title>
<head th:include="include/module/newHeader::html" ></head>
<body>
<div id="workingArea">
    <div th:replace="include/module/top::html" ></div>
    <div th:replace="include/module/leftMenu::html" ></div>
    <div th:replace="include/inquiry/inquiryDetailPage::html" ></div>
</div>
<script>
    $(function () {
        getDetail();
    })
    //获取URL中参数的值
    function getQueryVariable(variable){
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
            if(pair[0] == variable){return pair[1];}
        }
        return(false);
    }

    function getDetail() {
        var inquiryID = getQueryVariable("inquiryID");
        $.ajax({
            type:"get",
            data:{"inquiryID":inquiryID},
            url:"findInquiryDetail",
            async:false,
            success:function (data) {
                var sum = data.sum;
                var details = data.details;
                var suppliers = data.suppliers;
                $("#inquiryID").val(sum.inquiryID);
                $("#inquiryDate").val(sum.inquiryDate);
                $("#project").val(sum.project);
                $("#deadline").val(sum.deadline);
                var all_options = document.getElementById("type").options;
                for (i=0; i<all_options.length; i++){
                    if (all_options[i].value == sum.inquiryType){
                        all_options[i].selected = true;
                    }
                }
                $("#status").val(sum.statusDes);
                $("#details").html("");
                for(var i = 0 ; i < details.length ; i++){
                    var no = i + 1;
                    $("#details").append("<tr>"
                        +"<td>"+no+"</td>"
                        +"<td>"+details[i].kcode+"</td>"
                        +"<td>"+details[i].productName+"</td>"
                        +"<td>"+details[i].specification+"</td>"
                        +"<td>"+details[i].brand+"</td>"
                        +"<td>"+details[i].quantity+"</td>"
                        +"<td>"+details[i].unit+"</td>"
                        +"</tr>")
                }
                var result = data.result;
                $("#answerStatus").html("");
                $("#answerStatus").append(result+"<br><br>");
                for(var i = 0 ; i < suppliers.length ; i++){
                    if(suppliers[i].status == "C"){
                        $("#answerStatus").append(suppliers[i].supplierName+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+"已报价"+"&nbsp;&nbsp;"+'<a href="#" onclick="getSupplierInquiry(\''+suppliers[i].supplierCode+'\')">查看报价</a>'+"<br>");
                    }else{
                        $("#answerStatus").append(suppliers[i].supplierName+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"+"未报价"+"&nbsp;&nbsp;"+'<a href="#" onclick="sendMessage(\''+suppliers[i].supplierCode+'\')">提醒他</a>'+"<br>");
                    }
                }
            }
        })
    }

    function getSupplierInquiry(supplierCode) {
        var inquiryID = getQueryVariable("inquiryID");
        window.location.href="foreSupplierInquiry?supplierCode="+supplierCode+"&&inquiryID="+inquiryID;
    }

    function sendMessage(supplierCode) {
        var inquiryID = getQueryVariable("inquiryID");
        var suppliers = [];
        suppliers.push(supplierCode);
        var data = {"inquiryID":inquiryID , "suppliers":suppliers};
        $.ajax({
            type:"post",
            data:data,
            url:"remindSupplier",
            async:false,
            traditional:true,
            success:function (data) {
                if(data == "OK"){
                    $.message({
                        message:"信息已发送",
                        type:"success"
                    });
                }else{
                    $.message({
                        message:data,
                        type:"error"
                    });
                }
            }
        })
    }
</script>
<style>
    #mainContent{
        overflow:hidden;
        width:100%;
    }
    #materialDiv{
        width:calc(98% + 15px);/*使滚动条超出当前元素的父元素边界，而父元素设置了overflow为hidden，使溢出内容隐藏，即隐藏了滚动条*/
        height:320px;
        box-sizing:content-box;/*兼容ie，使盒模型为w3c盒模型*/
        overflow-y:scroll;/*控制能沿y轴滚动*/
    }
    #allMaterial{
        width:100%;
    }
</style>
</body>
</html>
