<template th:fragment="html">
    <!-- 外部文件引入-->
    <script src="js/jquery/2.0.0/jquery.min.js"></script>
    <link href="css/bootstrap/3.3.6/bootstrap.css" rel="stylesheet">
    <script src="js/bootstrap/3.3.6/bootstrap.js"></script>
    <script src="js/vue/2.5.16/vue.min.js"></script>
    <script src="js/axios/0.17.1/axios.min.js"></script>
    <script src="js/moment/2.22.2/moment.js"></script>
    <link href="css/fore/style.css" rel="stylesheet">
    <script src="js/customize/imageValidate.js"></script>
    <link href="css/fore/imageValidate.css" rel="stylesheet">
    <script src="js/jquery.cookie.js"></script>
    <script src="js/ajaxFileUpload.js"></script>
    <script src="js/cities.js"></script>
    <script src="js/ChineseCity.all.js"></script>
    <script src="js/ChineseCity.js"></script>
    <script src="laydate/laydate.js"></script>
    <link href="laydate/theme/default/laydate.css" rel="stylesheet">
    <script src="044/js/datatables/datatab.js"></script>
    <link href="044/css/plugin/datatables/datatables.css" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</template>
