<div id="leftMenu" class="sidebar clearfix" style="overflow: auto;" th:fragment="html">

    <ul class="sidebar-panel nav">
        <li><a><span class="icon color14"><i class="fa fa-paper-plane-o"></i></span>供应商管理<span class="caret"></span></a>
            <ul>
                <li><a href="foreAllSupplier">供应商查询</a></li>
            </ul>
        </li>
        <li><a ><span class="icon color11"><i class="fa fa-diamond"></i></span>供应商询报价<span class="caret"></span></a>
            <ul class="sidebar-panel-3 ull">
                <li><a>询价管理<span class="caret"></span></a>
                    <ul  style="width: 270px;">
                        <li><a href="foreQueryInquiry">询价查询</a></li>
                        <li><a href="foreInquiryOne">单品询价</a></li>
                        <li><a href="foreInquirySome">批量询价</a></li>
                    </ul>
                </li>
                <li><a>报价管理<span class="caret"></span></a>
                    <ul  style="width: 270px;">
                        <li><a href="foreAnalysis">报价分析</a></li>
                        <li><a href="foreBuyList">采购申请</a></li>
                    </ul>
                </li>

            </ul>
        </li>
        <li shiro:hasPermission="sysManage"><a><span class="icon color14"><i class="fa fa-file-text-o"></i></span>系统配置<span class="caret"></span></a>
            <ul>
                <li><a href="foreUserManage">账号管理</a></li>
            </ul>
        </li>
    </ul>


</div>
